# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Python virtual environments
venv
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python bytecode
__pycache__
*.py[cod]
*$py.class

# Electron build output
dist-electron

# Python packaged code
dist-python

# Build output
release

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
